
.contact-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.contact-header {
  text-align: center;
  margin-bottom: 40px;
}

.contact-header h1 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.6;
  margin: 0;
}

.contact-header h6 {
  font-size: 1.2vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.contact-form button {
    margin-top: 0 !important;
  padding: 12px;
  background-color: white;
  color: #0c0c0c;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #ddd;
}