
/* playground page Style */
.playgroung-container {
    color: white;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.playgroung-container h1,
.playgroung-container h6 {
    margin: 0;
}

.playgroung-container h1 {
    line-height: 1;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: .6;
}

.playgroung-container h6 {
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


.playground-content-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 0;
}



.video-wrapper {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: 40px;
    background-color: #0c0c0c;

}

.playgroung-container video {
    /* height: 100%;              */
    width: 600px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.playgroung-container video.visible {
    opacity: 1;
    transform: translateY(0);
}


.video-wrapper::-webkit-scrollbar {
    display: none;
}